<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 저장소 접근 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".SignupData"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Own_cast"
        tools:targetApi="31">


        <service
            android:name=".player.BackgroundPlayService"
            android:enabled="true"
            android:exported="true"></service>



        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".AuthAfterActivity"
            android:exported="false" />
        <activity
            android:name=".SignupFirstActivity"
            android:exported="false" />
        <activity
            android:name=".SignupSecondActivity"
            android:exported="false" />
        <activity
            android:name=".SignupThirdActivity"
            android:exported="false" />
        <activity
            android:name=".SignupLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".SignupFifthActivity"
            android:exported="false" />
        <activity
            android:name=".SignupDetailInterestActivity"
            android:exported="false" />
        <activity
            android:name=".SignupSelfActivity"
            android:exported="false" />
        <activity
            android:name=".SignupLoadingActivity"
            android:exported="false" />
        <activity
            android:name=".ClearSignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeDetailInterestActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeInterestActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeSelfActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".search.SearchAddCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Own_cast" />
        <activity
            android:name=".editAudio.EditAudioActivity"
            android:exported="false"
            android:theme="@style/Theme.Own_cast" />
        <activity
            android:name=".player.PlayCastActivity"
            android:exported="false" />
        <activity
            android:name=".keyword.KeywordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




    </application>

</manifest>